/.idea/
/Machine Learning/Random Forest/New York Taxi Fare Prediction/new-york-city-taxi-fare-prediction/
/Notes and Notebooks/Machine Learning/kaggle.json
/Machine Learning/Random Forest/New York Taxi Fare Prediction/kaggle.json
/Notes and Notebooks/Python/.jovianrc
/Notes and Notebooks/Numpy/.jovianrc
/Notes and Notebooks/Numpy/climate_results.txt
/Exercises/.jovianrc
/Notes and Notebooks/Numpy/data/emis2.txt
/Notes and Notebooks/Numpy/data/loans1.txt
/Notes and Notebooks/Numpy/data/loans2.txt
/Notes and Notebooks/Numpy/data/loans3.txt
/Notes and Notebooks/Numpy/data/movies.csv
/Notes and Notebooks/Pandas/italy-covid-daywise.csv
/Notes and Notebooks/Pandas/.jovianrc
/Notes and Notebooks/Pandas/results.csv
/Notes and Notebooks/Matplotlib Seaborn/.jovianrc
/Machine Learning/Random Forest/New York Taxi Fare Prediction/new-york-city-taxi-fare-predictionlinear_model_submission.csv
/Exploratory Data Analysis (EDA)/Python/.jovianrc
/Machine Learning/deep-learning/flowers-resnet9.pth
/Exploratory Data Analysis (EDA)/Python/stackoverflow-developer-survey-2020/README.txt
/Machine Learning/deep-learning/requirements.txt
/Exploratory Data Analysis (EDA)/Python/stackoverflow-developer-survey-2020/survey_results_public.csv
/Exploratory Data Analysis (EDA)/Python/stackoverflow-developer-survey-2020/survey_results_schema.csv
